<section class="container">
    <section class="d-flex justify-content-between mt-4">
        <h2>Página inicial do Mecanico</h2>
        <a href="/mecanico/create" class="btn btn-primary">Cadastrar novo Mecanico</a>
    </section>
</section>



<section class="my-4 container">
    <div class="row">
        {{#each dados}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nome: {{dataValues.nome}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Especialidade: {{dataValues.especialidade}}</h6>
                    <p class="card-text">
                        <strong>Contato:</strong> {{dataValues.contato}} <br>
                        <strong>Reparo:</strong> {{reparo.dataValues.tipo_reparo}}
                    </p>
                    <a href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal{{dataValues.id}}">Excluir</a>
                </div>
            </div>
        </div>
        {{!-- Modal para exclusão --}}
        {{>modalDelete idItem=dataValues.id}}
        {{/each}}
    </div>
</section>